@import url('./background.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

body, html {
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 97%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.data {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.data h1 {
    font-size: 6rem;
    padding-bottom: 20px;
}

.data p {
    text-align: justify;
    line-height: 25px;
    font-size: 1.2rem;
}

.data button {
    background: transparent;
    border-color: rgb(217, 75, 75);
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    width: 40%;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    transform: skew(-10deg);
}

.data button span {
    display: inline-block;
    transform: skew(10deg);
    color: #fff;
}

.data button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: rgb(236, 67, 67);
    z-index: -1;
    transition: all 0.5s;
}

.data button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .data {
        width: 80%;
        align-items: center;
    }

    .data h1 {
        font-size: 4rem;
    }

    .data p {
        font-size: 1rem;
    }

    .data button {
        width: 200px;
    }

    .imgAsh {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .data button {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        height: 95%;
    }

    .data p {
        font-size: 0.8rem;
        line-height: 15px;
    }

    .data button {
        padding: 5px;
    }
}
/* SEARCH POKEMONS */

#container {
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.search form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.search form label {
    letter-spacing: 1px;
    font-size: 2rem;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.search input {
    padding: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    border-color: red;
    background: transparent;
    transform: skew(-10deg);
    color: #fff;
    margin-top: 20px;
}

.search button {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    background: transparent;
    color: #fff;
    outline: none;
    border-color: red;
    width: 40%;
    transform: skew(-15deg);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: rgb(236, 67, 67);
    z-index: -1;
    transition: all 0.5s;
}

.search button:hover::before {
    right: 0;
    left: 0;
    opacity: 1;
}

/* POKÉDEX */

.pokedex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 35%;
    top: 30%;
}

.idNome {
    position: absolute;
    bottom: 40.5%;
    left: 42%;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.assets {
    position: absolute;
    bottom: 15%;
    left: 12%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.stats h3 {
    margin-bottom: 10px;
}

.habilities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.types {
    position: absolute;
    bottom: 30%;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: black;
}

.types-list {
    display: flex;
    gap: 10px;
}

.types-list li:nth-child(1) {
    padding: 5px;
    border-radius: 5px;
}

.types-list li:nth-child(2) {
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    #container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #container {
        height: 95%;
    }

    .search form label{
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .form input {
        padding: 6px;
        height: 40px;
    }

    .search button {
        width: 50%;
        height: 30px;
        font-size: 0.8rem;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 50px;
        height: 50px;
        left: 37%;
        top: 33%;
    }

    .imgPoke {
        width: 90%;
    }

    .idNome {
        font-size: 1rem;
        bottom: 40%;
        left: 40%;
    }

    .assets {
        left: 16%;
    }

    .habilities {
        font-size: 0.85rem;
        gap: 10px;
    }
}

@media screen and (max-width: 400px){
    .search form label {
        padding: 0;
    }

    .search button {
        margin-bottom: 10px;
    }

    .imgPoke {
        width: 80%;
    }

    .image {
        width: 60px;
        height: 50px;
    }

    .idNome {
        bottom: 40%;
        left: 40%;
        font-size: 1rem;
    }

    .types {
        font-size: 0.7rem;
    }

    .assets {
        left: 20%;
    }

    .habilities {
        font-size: 0.7rem;
        gap: 10px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    gap: 20px;
}

.social {
    display: flex;
    gap: 10px;
}

.social i {
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.social i:hover{
    color: rgb(237, 115, 115);
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 1rem;
    }

    .social i {
        font-size: 20px;
    }
}